<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapstoneProject_4</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>

<body>



    <div class="container">


        <div class="containerParts">
            <h1 id="h1">
                <%= content %>
            </h1>

        </div>




        <div id="question" class="containerParts ">



            <form id="myForm" method="post" class=" <% if (locals.hidden) {%> <%= hidden %>  <% } %> marginBottom">

                <label for="lat">Your latitude</label>
                <input type="number" name="lat" step=".01">

                <label for="lon">Your longitude</label>
                <input type="number" name="lon" step=".01">



                <input id="get" type="submit" value="submit" formaction="/">

            </form>
        </div>

        <% if (locals.wDescription) {%>




            <div id="results" class="containerParts">

                <div class="allign">
                    <div>
                        <p>desctiption: <%= wDescription %>
                        </p>

                    </div>
                    <div>
                        <p>tempereture: <%=wTemp %> C</p>
                    </div>
                    <div>
                        <p>feels like: <%=locals.wFeels_like %> C</p>
                    </div>
                    <div>
                        <p>min temperature: <%=wTemp_min %> C</p>
                    </div>
                    <div>
                        <p>max temperature:<%=wTemp_max %> C</p>
                    </div>
                    <div>
                        <p>atmospherick pressure: <%=wPressure %>
                        </p>
                    </div>
                    <div>
                        <p>humidity levels: <%= wHumidity%>
                        </p>

                    </div>

                </div>
            </div>


            <div>
                <button id="bt" class="">Reset</button>
            </div>

    </div>


    <% } %>

        </div>
        <script>


            document.getElementById("get").addEventListener("click", function () { document.getElementById("bt").classList.remove("hidden"); });

            document.getElementById("bt").addEventListener("click", function () {
                document.getElementById("myForm").classList.remove("hidden");
                document.getElementById("bt").classList.add("hidden");
                document.getElementById("h1").innerHTML = "Waiting for data...";
            });

            document.getElementById("bt").addEventListener("click", function () {
                document.getElementById("results").classList.add("hidden");

            });

        </script>

</body>

</html>