<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapstoneProject_4</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>



    <div class="container">


        <div class="title containerParts">
            <h1>
                <%= content %>
            </h1>
        </div>




        <div id="question" class="containerParts">



            <form id="myForm" method="post">

                <label for="lat">Your latitude</label>
                <input type="number" id="idLat" name="lat" step=".01">

                <label for="lon">Your longitude</label>
                <input type="number" id="idLon" name="lon" step=".01">



                <input id="get" type="submit" value="submit" formaction="/">

            </form>
        </div>

        <% if (locals.wDescription) {%>






            <div class=" containerParts" id="answer">
                <div class="responce ">

                    <div>
                        <label for="wDescription">It will </label>
                        <%= wDescription %>
                    </div>
                    <div>
                        <label for="wTemp">Temperature: </label>
                        <%=wTemp %>
                    </div>
                    <div>
                        <label for="wFeels_like">Feels like: </label>
                        <%=locals.wFeels_like %>
                    </div>
                    <div>
                        <label for="wTemp_min">Min temperature: </label>
                        <%=wTemp_min %>
                    </div>
                    <div>
                        <label for="wTemp_max">Max temperature: </label>
                        <%=wTemp_max %>
                    </div>
                    <div>
                        <label for="wPressure">Atmosphere pressure: </label>
                        <%=wPressure %>
                    </div>
                    <div>
                        <label for="wHumidity">Humidity: </label>
                        <%= wHumidity%>
                    </div>


                </div>
            </div>
            <% } %>

    </div>


</body>

</html>
